@import "semantic-ui";

.chatbox {
  height: 70vh;
}

.center-text {
  text-align: center;
}

.login-title span {
  font-style: italic;
}

.login-form input {
  border: 1px solid red;
}

#messages {
  height: 15em;
  overflow: auto;
}

.input {
  button {
    display: none;
  }
}